.footer{
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-lg.png?raw=true");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    .footer-box{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 80px 0px;
    }
    .box-in{
      width: 306px;
      .footer-logo{
        height: 40px;
        a{
          background: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/2f8d8c7a6133b448ecff5bf0a3d282b87b7c6a7e/2024%20web-camp/logo.svg");
          width: 100%;
          height: 100%;
          display: block;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: left;
          text-indent: 101%;
          overflow: hidden;
        }
      }
      .footer-txt{
        margin: 24px 0px;
      }
      ul{
        display:flex;
        flex-direction: column;
        gap: 24px;
        a{
          transition: transform,ease-in-out 0.3s;
          &:hover{
            transform: scale(1.1);
          }
        }
      }
    }
  }

  

  @media (max-width: 1200px) {
  .footer{
    background-size: cover;
    .footer-box{
      padding: 40px 16px;
    }
  }
  }

  @media (max-width:767px) {
    .footer {
      background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-sm.png?raw=true");
      background-size: cover;
        .footer-box {
          flex-direction: column;
          padding: 40px 12px;
        .box-in{
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          .footer-txt{
            p + p{
              margin-top: 4px;
            }
          }
          ul{
            width: 100%;
          }
          .footer-logo{
            width: 120px;
            height: 54px;
            display: flex;
            justify-content: center;
            a{
              background-position: center;
            }
          }
        }
        .box-in:last-child{
          padding: 40px 22.5px 0px 22.5px;
        }
        }
      }
  }

// form 

.form{
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 24px;
  border-radius: 8px;
  span{
    padding-left: 8px;
  }
}
@media (max-width:767px) {
  .form{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 4px 24px;
    border-radius: 8px;
    span{
      padding-left: 8px;
    }
  }

}